.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.self-center {
  align-self: center;
}

.grid {
  display: grid;
}

body {
  font-family: lato, sans-serif;
  color: #4E5166;
  margin: 0;
}

p {
  margin: 0 10px;
}

#component_main {
  max-width: 960px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFD7D7;
  padding: 20px 50px;
}
header .logo img {
  width: 90%;
  max-width: 800px;
  min-width: 260px;
}
header .header-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header .header-buttons__account {
  justify-self: flex-end;
}
@media (max-width: 500px) {
  header .header-buttons {
    justify-content: center;
  }
}

.button {
  background-color: #FD2D01;
  padding: 10px;
  margin: 10px;
  color: white;
  border: none;
  box-shadow: 2px 2px 5px black;
  width: 150px;
  font-size: 1em;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}
.button:hover {
  background-color: #fe8066;
}
.button.disabled {
  background-color: #4E5166;
  cursor: not-allowed;
}

article .buttons button i {
  display: none;
}
@media (max-width: 500px) {
  article .buttons {
    justify-content: space-between;
  }
  article .buttons .likes {
    flex-grow: 0;
  }
  article .buttons button {
    width: auto;
  }
  article .buttons button p {
    display: none;
  }
  article .buttons button i {
    display: block;
  }
}

form {
  font-size: 1.2em;
  max-width: 200px;
}
form * {
  margin-bottom: 5px;
}

.posts {
  width: 90%;
}

.post {
  transition: 0.5s ease-in-out;
  opacity: 1;
  background-color: #FFD7D7;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
}
.post .image {
  max-height: 500px;
  text-align: center;
  margin: 15px 0;
}
.post .image img {
  max-height: inherit;
  box-shadow: 2px 2px 5px black;
  max-width: 90%;
}
.post .postInfo {
  align-items: center;
}
.post .postInfo h3 {
  flex-grow: 1;
}

.likes {
  flex-grow: 1;
  text-align: end;
  font-size: 1.5em;
  justify-content: flex-end;
}
.likes .youLike {
  font-size: 0.7em;
}

.admin {
  border-top: 1px #4E5166 solid;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
}
.admin h3 {
  flex-basis: 100%;
  margin: 0;
}
.admin p {
  margin: 0 2px 0 0;
}

.dev {
  background-color: red;
  width: 100%;
  color: white;
}

.newPost {
  max-width: 100%;
  margin-bottom: 50px;
}

.separator {
  width: 80%;
  height: 1px;
  background-color: #4E5166;
  width: 100%;
  margin: 20px 0 0 0;
}

textarea {
  resize: none;
  max-width: 90%;
}

.wrapper-posts {
  width: 100%;
}

.editPost form {
  max-width: 100%;
}

/*# sourceMappingURL=main.css.map */
