header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $color-secondary;
    padding: 20px 50px;
    .logo img{
        width: 90%;
        max-width: 800px;
        min-width: 260px;
    }
    .header-buttons {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__account {
            justify-self: flex-end;
        }
        @media (max-width: $media-small) {
            justify-content: center;
        }
    }
}

.button {
    background-color: $color-primary;
    padding: 10px;
    margin: 10px;
    color: white;
    border: none;
    box-shadow: 2px 2px 5px black;
    width: 150px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    &:hover {
        background-color: lighten($color-primary, 20);
    }
    &.disabled {
        background-color: $color-tertiary;
        cursor: not-allowed;
    }
    
}

article {
    .buttons {
        button {
            i {
                display: none;
            }
        }
        @media (max-width: $media-small) {
            justify-content: space-between;
            .likes {
                flex-grow: 0;
            }
            button {
                width: auto;
                    p {
                        display: none;
                    }
                    i {
                        display: block;
                    }
            }
            }
    }
}

form {
    font-size: 1.2em;
    max-width: 200px;
    * {
        margin-bottom: 5px;
    }
}

.posts {
    width: 90%;
}

.post {
    background-color: $color-secondary;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    .image {
        max-height: 500px;
        text-align: center;
        margin: 15px 0;
        img {
            max-height: inherit;
            box-shadow: 2px 2px 5px black;
            max-width: 90%;
        }
    }
}

.likes {
    flex-grow: 1;
    text-align: end;
    font-size: 1.5em;
    justify-content: flex-end;
    .youLike {
        font-size: 0.7em;
    }
}

.admin {
    border-top: 1px $color-tertiary solid;
    flex-wrap: wrap;
    padding: 5px;
    align-items: center;
    h3 {
        flex-basis: 100%;
        margin: 0;
    }
    p {
        margin: 0 2px 0 0;
    }
}

.dev {
    background-color: red;
    width: 100%;
    color: white;
}

.newPost {
    max-width: 100%;
    margin-bottom: 50px;
    textarea {
        resize: none;
        max-width: 100%
    }
}
.separator {
    width: 80%;
    height: 1px;
    background-color: $color-tertiary;
    width: 100%;
    margin: 20px 0 0 0;
}